@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #292524; /* Stone 800 */
}

::-webkit-scrollbar-thumb {
  background: #57534e; /* Stone 600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #78716c; /* Stone 500 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #57534e #292524;
}

body {
  background-color: #1c1917; /* Stone 900 */
  color: #e7e5e4; /* Stone 200 */
}

